<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Prevent caching with meta tags -->
        <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
    <title>{{.Name}} Profile - Groupie-Tracker</title>
    <link rel="icon" href="/static/groupie-tracker-favicon-color.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/profile.css">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="/"> <img src="/static/logo-no-background.png" alt="Groupie-Tracker Logo" class="logo-image" width="50" height="50"></a>
            <div class="logo-text">Groupie-Tracker</div>
        </div>
        <nav class="nav">
            <a href="/">Home</a>
            
        </nav>
    </header>

    <main class="main">
        <section class="artist-profile">
            <img src="{{.Image}}" alt="{{.Name}}" class="artist-image" width="300" height="300">
            <div class="artist-info">
                <h1 class="artist-name">{{.Name}}</h1>
                <div class="info-card">
                        <h3>Band Members</h3>
                            <p>
                                {{- range $index, $member := .Members -}}
                                    {{- if $index -}} ,<span>   </span> {{- end -}}
                                    {{- $member -}}
                                {{- end -}}
                            </p>
                    </div>
                <div class="info-card">
                    <h3>Important Dates</h3>
                    <p><strong>Creation:</strong> {{.CreationDate}}</p>
                    <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
                </div>
            </div>
        </section>

        <section class="concerts">
            <h2>Upcoming Concerts</h2>
            <div class="concert-cards">
                {{range $city, $dates := .Concerts}}
                <div class="concert-card">
                    <h3>{{$city}}</h3>
                    {{range $dates}}
                    <p>{{.}}</p>
                   {{end}}
                </div>
                {{end}}
                
            </div>

            <div class="concert-tables">
                <div class="table-container">
                    <h3>Concert Dates</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                            </tr>
                        </thead>
                        {{range .Dates}}
                        <tbody>
                            <tr><td>{{.}}</td></tr>
                           
                        </tbody>
                        {{end}}
                    </table>
                </div>
                <div class="table-container">
                    <h3>Concert Locations</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Location</th>
                            </tr>
                        </thead>
                        {{range .Location}}
                        <tbody>
                            <tr><td>{{.}}</td></tr>
                            
                        </tbody>
                        {{end}}
                    </table>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Groupie-Tracker | Made with 💖</p>
    </footer>
</body>
</html>
